In [20]:
from src.clients.database import DatabaseConnection
from datetime import datetime
import pandas as pd

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
database_connection = DatabaseConnection()

In [45]:
timestamp_after = datetime(2023,12,1)
timestamp_before = datetime(2023,12,30)
base_currency = 'EUR'
quote_currency = 'USD'
currency_data = database_connection.get_rates_between_timestamps_as_series(base_currency, quote_currency) #timestamp_after, timestamp_before)

In [46]:
df = pd.DataFrame(currency_data, columns = ['timestamp', 'rate']).sort_values(by = 'timestamp')
df

    timestamp      rate
29 2022-01-01  1.137145
30 2022-01-02  1.137288
31 2022-01-03  1.129982
32 2022-01-04  1.128343
33 2022-01-05  1.131346
..        ...       ...
24 2023-12-25  1.101953
25 2023-12-26  1.104246
26 2023-12-27  1.110821
27 2023-12-28  1.106757
28 2023-12-29  1.106470

[728 rows x 2 columns]

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x = df['timestamp'], y = df['rate'](